{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Каталог'}}{% endblock %}

{% block content %}

<body1 class="body1">
    <div class="maincontainer">
        <div class="leftbar">

        </div>

        <div class="container">

            {% for product in products %}
            	<div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="logo" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'catalog:product' %}">
                            <p class="card-title">{{ product.name }}</p>
                        </a>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="product_id">id: {{ product.id }}</p>
                        <div class="d-flex justify-content-between">
                            {% if product.discount %}
                            	<p><s>{{ product.discount }}</s> $</p>
                            {% endif %}
                            <p><strong>{{ product.price }} $</strong></p>
                            <span class="badge bg-warning text-dark"><strong>Скидка 10.00 %</strong></span>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
</body1>

{% endblock %}