{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Каталог'}}{% endblock %}

{% block content %}

<body1 class="body1">
    <div class="maincontainer">
        <div class="leftbar">

        </div>

        <div class="container">

            <div class="card">
                <img src="{% static 'main/images/logo.jpg' %}" alt="logo" class="card-img-top">
                <div class="card-body">
                    <a href="{% url 'catalog:product' %}">
                        <p class="card-title">Название</p>
                    </a>
                    <p class="card-text">+10 к силе против босса</p>
                    <p class="product_id">id: 2345</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark"><strong>Скидка 10.00 %</strong></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body1>

{% endblock %}