{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Продукт'}}{% endblock %}

{% block content %}

<body1 class="body1">
    <div class="maincontainer">
        <div class="leftbar">

        </div>

        <div class="container-prod">

            <div class="card-prod">
                <img src="{% static 'main/images/logo.jpg' %}" alt="logo" class="card-img-top-prod">
                <span>
                    <img src="{% static 'main/images/logo.jpg' %}" alt="logo" class="card-img-top-prod">
                </span>
                <div class="card-body">
                    <p class="card-title">Название</p>
                    <p class="card-text">+10 к силе против босса</p>
                    <p class="product_id">id: 2345</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <div class="bron">
                            <a href="#" class="btn btn-dark add-to-cart">Забронировать столик</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body1>

{% endblock %}