{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Продукт'}}{% endblock %}

{% block content %}

<body1 class="body1">
    <div class="maincontainer">
        <div class="leftbar">

        </div>

        <div class="container-prod">

            <div class="card-prod">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="logo" class="card-img-top-prod">
                {% endif %}
                <div class="card-body">
                    <p class="card-title">{{ product.name }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="product_id">id: {{ product.id }}</p>
                    <div class="d-flex justify-content-between">
                        {% if product.discount %}
                            <p><s>{{ product.price }}</s> $</p>
                            <p><strong>{{ product.sell_price }} $</strong></p>
                        {% else %}
                            <p><strong>{{ product.price }} $</strong></p>
                        {% endif %}
                        <div class="bron">
                            <a href="#" class="btn btn-dark add-to-cart">Забронировать столик</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body1>

{% endblock %}